body{
    padding: 1em;
}

/* button animate effects */
.buttons{
    font-size: 5vw;
    border-radius: 50px;
    border: 3px black solid;
    background: rgb(158, 158, 158);
    margin: 0.1em 0.3em;
}

.buttons-operator .buttons{
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons:hover{
    background: lightgray;
}

.buttons:active{
    background: rgb(158, 158, 158);
}
/* end of button animate effects */
/*  */
/*  */
/* start of "screen" section */
.screen{
    width: 100%;
    height: 15vw;
    border: black 6px solid;
    background: lightgrey;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.screen span{
    font-size: 7vw;
    padding-right: 0.2em;
}
/* end of "screen" section */
/*  */
/*  */
/* style for positioning numbers and operators */
.wrapper{
    display: flex;
    background: rgb(128, 126, 126);
    border: black 6px solid;
    border-top: none;
    width: 100%;
}

.buttons-number{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2vw;
    row-gap: 3vh;
    width: 75%;
    height: 60vh;
    margin: 1em;
}

.buttons-operator{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 20%;
}
/* End */